<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee Form</title>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
	<div align =  "center">
		<h1 style="font-family: Arial, Helvetica, sans-serif; color: grey;"> Employee Form </h1>
		<form action = "form" method = "post">
			<table>
				<tr> <td> </td> </tr>	
				<tr> <td> </td> </tr>
				<tr> <td> </td> </tr>
				<tr> <td> </td> </tr>	
					
				<tr for="typeofpermit" style = "font-size: 15px; font-family: Arial, Helvetica, sans-serif;"> <td>TYPE OF WORK PERMIT : </td>
				<td> <select name="typeofpermit" id="typeofpermit">
				  <option value="regular">REGULAR</option>
				  <option value="special">SPECIAL PURPOSE</option>
				  <option value="sickleave">SICK LEAVE</option>
				  <option value="strike">STRIKE</option>
				</select> </td></tr>
				<tr style = "font-size: 15px; font-family: Arial, Helvetica, sans-serif;"> <td> BEGIN DATE : </td> <td style = "font-size: 25px;"> <input type = "date" id="start" name="firstday" value="2020-01-01" min="2020-01-01" max="2020-12-31"> </td> </tr>	
				<tr style = "font-size: 15px; font-family: Arial, Helvetica, sans-serif;"> <td> LAST DATE : </td> <td style = "font-size: 25px;"> <input type = "date" id="start" name="lastday" value="2020-01-01" min="2020-01-01" max="2020-12-31"> </td> </tr>
				<tr> <td> </td> </tr>
				<tr style = "font-size: 15px;"> <td> <input type = "submit" value = "Confirm"> </td> </tr>
			</table>
		</form>
	</div>

</body>
</html>