<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
	<div align =  "center">
		<h1 style="font-family: Arial, Helvetica, sans-serif; color: grey;"> User Login Form </h1>
		<form action = "login" method = "post">
			<table>
				<tr> <td> </td> </tr>	
				<tr> <td> </td> </tr>
				<tr> <td> </td> </tr>
				<tr> <td> </td> </tr>			
				<tr style = "font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> <td> USERNAME : </td> <td style = "font-size: 25px;"> <input type = "text" name = "username"> </td> </tr>
				<tr style = "font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> <td> PASSWORD : </td> <td style = "font-size: 25px;"> <input type = "password" name = "password"> </td> </tr>	
				<tr style = "font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> <td> <input type = "submit" value = "Login"> </td> </tr>
			</table>
		</form>
	</div>

</body>
</html>