<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Menu of Payroll Department </title>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
	<div align =  "center">
		<h1 style="font-family: Arial, Helvetica, sans-serif; color: grey;"> MENU OF PAYROLL DEPARTMENT </h1>
		<form action = "catalog" method = "post">
			<table>
			
				<tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr>
				
				<tr style = "font-size: 15px; text-align: center"> <td> <input type = "submit" value = "                             EMPLOYEE FORM                             "> </td> </tr>
				
				<tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr> <tr> <td> </td> </tr>	
				
				<tr style = "font-size: 15px;"> <td> <input type = "submit" value = "VERIFICATION OF APPLICATIONS WITH APPROVAL"> </td> </tr>
				
			</table>
		</form>
	</div>

</body>
</html>