<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employees</title>
</head>
<body>
	<div th:switch="${employees}">
		<h2 th:case="null">No employees yet!</h2>
		<div th:case="*">
			<h2>Employees</h2>
			<table>
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Email</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${employees}">
						<td th:text="${employee.fname}"></td>
						<td th:text="${employee.lname}"></td>
						<td><a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/employees/new">Add a new user</a>
		</p>
	</div>
</body>
</html>