<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="Background.css">
<title>Employees</title>
<link rel="stylesheet" href="resources/css/Background.css" th:href="@{/css/Background.css}">

</head>
<body class="mainbackground">
	
		<div class="mainfont">
			<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
			
			<h2 style = "font-size: 50px; color:#064714;text-align:left;">Employees</h2>
			
			<div th:switch="${employees}">
				<h3 th:case="null" style = "font-size: 20px;"> No employees yet ! </h3>
					
				<div th:case="*">
					
					<table class="tableproperties">
						<thead>
							<tr style="background-color:#B3DA5E;color:#064714;">
									
								<th>Employee ID</th>
								<th>First name</th>
								<th>Last name</th>
								<th>BirthDate</th>
								<th>Address</th>
								<th>Email</th>
								<th>Phone number</th>
								<th>Hire date</th>
								<th>Works since</th>
								<th>Days Left</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
							</tr>
						</thead>
							
						<tbody style = "font-size: 13px;background-color:#F3F3BC;">
							<tr th:each="employee : ${employees}">
								
								<td th:text="${employee.id}"></td>
								<td th:text="${employee.fname}"></td>
								<td th:text="${employee.lname}"></td>
								<td th:text="${employee.birth_date}"></td>
								<td th:text="${employee.address}"></td>
								<td th:text="${employee.email}"></td>
								<td th:text="${employee.phone}"></td>
								<td th:text="${employee.hire_date}"></td>
								<td th:text="${employee.works_since}"></td>
								<td th:text="${employee.days}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/index/employees/delete/{id}(id=${employee.id})}" style="text-decoration: none;font-size:17px;">&#128465;</a></td>
									
							</tr>
						</tbody>
					</table>
					
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<p> <a href="/index/employees/new" style = "font-size: 18px; color:#064714;">Add a new user</a> </p>
					</div>
				</div>
			</div>
		</div>
							
</body>

</html>