<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Applications</title>
</head>
<body
	style="background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
	<div align="center">
		<h1 style="font-family: Arial, Helvetica, sans-serif; color: grey;">
			APPLICATIONS</h1>
		<form action="Viewapps" method="post">
			<table>
				<thead>
					<tr
						style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
						<th>APPLICATION ID</th>
						<th>EMPLOYEE</th>
						<th>TYPE</th>
						<th>DAYS</th>
						<th>START DATE</th>
						<th>LAST DATE</th>
						<th>REQUESTED PAPERS</th>
						<th sec:authorize="hasRole('ROLE_SUPERVISOR')">SUPERVISOR
							SIGN</th>
						<th sec:authorize="hasRole('ROLE_PDEMPLOYEE')">PAYROLL
							DEPARTMENT SIGN</th>
						<th sec:authorize="hasRole('ROLE_MANAGER')">MANAGER SIGN</th>
					</tr>
				</thead>
				<tbody 
					style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
					<tr th:each="app : ${allApplications}">
						<td th:text="${app.id}"></td>
						<td th:text="${app.emp_id}"></td>
						<td th:text="${app.type}"></td>
						<td th:text="${app.days}"></td>
						<td th:text="${app.start_date}"></td>
						<td th:text="${app.last_date}"></td>
						<td th:text="${app.req_papers}"></td>
						<td sec:authorize="hasRole('ROLE_SUPERVISOR')"
							th:text="${app.super_sig}"></td>
						<td sec:authorize="hasRole('ROLE_PDEMPLOYEE')"
							th:text="${app.pd_sig}"></td>
						<td sec:authorize="hasRole('ROLE_MANAGER')"
							th:text="${app.mgr_sig}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>