<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="Background.css">
<title>Departments</title>
<style> table { border: 1px solid black; } </style>
</head>
<body>
	

	
	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
		<h1 class="text-light">Departments</h1>
		<form action = "ViewDepartments" method = "post">
			<div th:switch="${departments}">
				<h2 th:case="null">
					<table>
						<tr> <td> </td> </tr>	
						<tr> <td> </td> </tr>
						<tr> <td> </td> </tr>
						<tr> <td> </td> </tr>
						<tr style = "font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> NO DEPARTMENTS YET </tr>
					</table>
				
				</h2>
			<div th:case="*">
				<table width=100%>
					<thead>
						<tr style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
							<th>Id</th>
							<th>Name</th>
							<th>Supervisor ID</th>
							<th>Supervisor First name</th>
							<th>Supervisor Last name</th>
							<th>Supervisor Email</th>
						</tr>
					</thead>
					<tbody style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
						<tr th:each="department : ${departments}">
							<td th:text="${department.id}"></td>
							<td th:text="${department.name}"></td>
							<td th:text="${department.super_id}"></td>
							<td th:text="${department.super_fname}"></td>
							<td th:text="${department.super_lname}"></td>
							<td th:text="${department.super_email}"></td>
						</tr>
					</tbody>
				</table>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<p style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;"> <a href="/departments/new">Add a new department</a> </p>
			</div>
		</form>
	</div>
	
	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
		<a href="/logout" style="color:white";> &#10060 LOGOUT</a>
	</div>
</body>
</html>