<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="mystyle.css">
<title>Applications</title>

<link rel="stylesheet" href="resources/css/Background.css" th:href="@{/css/Background.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<style> table { border: 1px solid black; } </style>
<script>
  function showTable(){
  	document.getElementById('table1').style.visibility = "visible";
  }
  function hideTable(){
  	document.getElementById('table1').style.visibility = "hidden";
  }
</script>
</head>
<body class="gradient-background" style="text-align:center;padding: 30px 0;">
	
	
	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
	<div class="container">
		<h1 class="text-light">Applications</h1>
		<form action="Viewapps" method="post">
			<table class="table table-bordered" width=100%>
				<thead>
					<tr
						style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
						<th>Application ID</th>
						<th>Employee</th>
						<th>Type</th>
						<th>Days</th>
						<th>Start date</th>
						<th>Last date</th>
						<th>Requested papers</th>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR') or #request.isUserInRole('PDEMPLOYEE')}">
						<th></th>
						</div>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
						<th></th>
						</div>
					</tr>
				</thead>
				<tbody 
					style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
					<tr th:each="app : ${allApplications}">
						<td th:text="${app.id}"></td>
						<td th:text="${app.emp_id}"></td>
						<td th:text="${app.type}"></td>
						<td th:text="${app.days}"></td>
						<td th:text="${app.start_date}"></td>
						<td th:text="${app.last_date}"></td>
						<td th:text="${app.req_papers}"></td>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR') or #request.isUserInRole('PDEMPLOYEE')}">
						<td><a th:href="@{applications/accept/{id}(id=${app.id})}">Accept</a></td>
						</div>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
						<td><a th:href="@{applications/reject/{id}(id=${app.id})}">Reject</a></td>
						</div>
					</tr>
				</tbody>
			</table>
			
			<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
			<input type='button' onClick='javascript:showTable();' value='Show History'>
  			<input type='button' onClick='javascript:hideTable();' value='Hide History'>
  			<br><br>
  
			<table id="table1" width=100% style="visibility:hidden" class="table table-bordered">
				<thead>
					<tr
						style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
						<th>Application ID</th>
						<th>Employee</th>
						<th>Type</th>
						<th>Days</th>
						<th>Start date</th>
						<th>Last date</th>
						<th>Requested papers</th>
						<th>Sign</th>
						<th sec:authorize="hasRole('ROLE_MANAGER')">Supervisor sign</th>
					</tr>
				</thead>
				<tbody 
					style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
					<tr th:each="app : ${history}">
						<td th:text="${app.id}"></td>
						<td th:text="${app.emp_id}"></td>
						<td th:text="${app.type}"></td>
						<td th:text="${app.days}"></td>
						<td th:text="${app.start_date}"></td>
						<td th:text="${app.last_date}"></td>
						<td th:text="${app.req_papers}"></td>
						<td sec:authorize="hasRole('ROLE_SUPERVISOR')"
							th:text="${app.super_sig}"></td>
						<td sec:authorize="hasRole('ROLE_MANAGER')"
							th:text="${app.mgr_sig}"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</form>
	</div>
	
	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
		<a href="/logout" style="color:white";> &#10060 LOGOUT</a>
	</div>
	</div>
</body>
</html>