<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Applications</title>
<link rel="stylesheet" href="resources/css/Background.css" th:href="@{/css/Background.css}">
<script>
  function showTable(){
  	document.getElementById('table1').style.visibility = "visible";
  }
  function hideTable(){
  	document.getElementById('table1').style.visibility = "hidden";
  }
</script>
</head>
<body class="mainbackground">
	<div class="mainfont">
		<h1><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px; text-align:right;">&#10060 LOGOUT</a></h1>
				
		<h2 style = "font-size: 50px; color:#064714;text-align:left;">Applications</h2>
		
		<form action="Viewapps" method="post">
			<table class="tableproperties">
				<thead>
					<tr style="background-color:#B3DA5E;color:#064714;">
						<th>Application ID</th>
						<th>Employee</th>
						<th>Type</th>
						<th>Category</th>
						<th>Start date</th>
						<th>Last date</th>
						<th>Requested papers</th>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR') or #request.isUserInRole('PDEMPLOYEE')}">
						<th></th>
						</div>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
						<th></th>
						</div>
					</tr>
				</thead>
				<tbody style = "font-size: 13px;background-color:#F3F3BC;">
					<tr th:each="app : ${allApplications}">
						<td th:text="${app.id}"></td>
						<td th:text="${app.emp_id}"></td>
						<td th:text="${app.type}"></td>
						<td th:text="${app.category}"></td>
						<td th:text="${app.start_date}"></td>
						<td th:text="${app.last_date}"></td>
						<td th:text="${app.req_papers}"></td>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
						<td><a th:href="@{applications/accept/{id}(id=${app.id})}">Accept</a></td>
						</div>
						<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
						<td><a th:href="@{applications/reject/{id}(id=${app.id})}">Reject</a></td>
						</div>
						<div th:if="${#request.isUserInRole('PDEMPLOYEE')}">
						<td><a th:href="@{applications/accept/{id}(id=${app.id})}">Check</a></td>
						</div>
					</tr>
				</tbody>
			</table>
			
			<div th:if="${#request.isUserInRole('MANAGER') or #request.isUserInRole('SUPERVISOR')}">
					<br>
					<input type='button' onClick='javascript:showTable();' value='Show History'>
		  			<input type='button' onClick='javascript:hideTable();' value='Hide History'>
		  			<br><br>
  
					<table id="table1" class="tableproperties" style="visibility:hidden">
						<thead>
							<tr style="background-color:#B3DA5E;color:#064714;">
								<th>Application ID</th>
								<th>Employee</th>
								<th>Type</th>
								<th>Start date</th>
								<th>Last date</th>
								<th>Requested papers</th>
								<th>Sign</th>
								<th sec:authorize="hasRole('ROLE_MANAGER')">Supervisor sign</th>
							</tr>
						</thead>
						<tbody style = "font-size: 13px;background-color:#F3F3BC;">
							<tr th:each="app : ${history}">
								<td th:text="${app.id}"></td>
								<td th:text="${app.emp_id}"></td>
								<td th:text="${app.type}"></td>
								<td th:text="${app.category}"></td>
								<td th:text="${app.start_date}"></td>
								<td th:text="${app.last_date}"></td>
								<td th:text="${app.req_papers}"></td>
								<div sec:authorize="hasRole('ROLE_MANAGER')" th:switch="${app.mgr_sig}">
									<td>
										<div th:case="true" th:text="Accepted"></div>
										<div th:case="false" th:text="Rejected"></div>
									</td>
								</div>
								<div th:switch="${app.super_sig}">
									<td>
										<div th:case="true" th:text="Accepted"></div>
										<div th:case="false" th:text="Rejected"></div>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
</body>
</html>