<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Departments</title>

<style> table, th, td { border: 1px solid black; padding: 5px; } </style>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
	<div align =  "center">
		<h1 style="font-family: Arial, Helvetica, sans-serif; color: grey;"> DEPARTMENTS </h1>
		<form action = "ViewDepartments" method = "post">
			<div th:switch="${departments}">
				<h2 th:case="null">
					<table>
						<tr> <td> </td> </tr>	
						<tr> <td> </td> </tr>
						<tr> <td> </td> </tr>
						<tr> <td> </td> </tr>
						<tr style = "font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> NO DEPARTMENTS YET </tr>
					</table>
				
				</h2>
			<div th:case="*">
				<table width=100%>
					<thead>
						<tr style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
							<th>ID</th>
							<th>NAME</th>
							<th>SUPERVISOR ID</th>
							<th>SUPERVISOR FIRST NAME</th>
							<th>SUPERVISOR LAST NAME</th>
							<th>SUPERVISOR EMAIL</th>
							<!--<th sec:authorize="hasRole('ROLE_ADMIN')">DELETE</th>-->
						</tr>
					</thead>
					<tbody style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
						<tr th:each="department : ${departments}">
							<td th:text="${department.id}"></td>
							<td th:text="${department.name}"></td>
							<td th:text="${department.super_id}"></td>
							<td th:text="${department.super_fname}"></td>
							<td th:text="${department.super_lname}"></td>
							<td th:text="${department.super_email}"></td>
							<!--<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/departments/delete/{id}(id=${department.dep_id})}" >&#128465;</a></td>-->
						</tr>
					</tbody>
				</table>
			<!-- 
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<p style = "font-size: 18px; font-family: Arial, Helvetica, sans-serif;"> <a href="/departments/new">Add a new department</a> </p>
			</div>-->
		</form>
	</div>
</body>
</html>