<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" href="resources/css/Background.css" th:href="@{/css/Background.css}">
</head>
<body class="mainbackground">
		
	<h1 style = "font-size: 50px; color:#064714;" class="mainfont"> <b> Welcome ! </b></h1>

	<div class="mainfont"><b>
		<a href="/index/employees" class="button" style = "font-size: 17px;color:#064714;" >Employees</a>
		<a href="/index/departments" class="button" style = "font-size: 17px;color:#064714;" >Departments</a>
		<a href="/index/applications" class="button" style = "font-size: 17px;color:#064714;">Applications</a>
	</b></div>
														  
	<p><b><a href="/logout" style="text-decoration: none; color:#D84424;font-size: 15px;" class="mainfont">&#10060 LOGOUT</a></b></p>
	
</body>
</html>


