<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" href="resources/css/Background.css" th:href="@{/css/Background.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body style="text-align:center;padding: 200px 0;">
	<div class="gradient-background">
	<h1 class="text-light">Welcome !</h1>

	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
		<a href="/employees" target="_blank" class="d-block btn btn-outline-light">Employees</a>
		<a href="/departments" target="_blank" class="d-block btn btn-outline-light">Departments</a>
		<a href="/applications" target="_blank" class="d-block btn btn-outline-light">Applications</a>
	</div>
	<br>														  
	<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
		<a href="/logout" style="color:white";>&#10060 LOGOUT</a>
	</div>	
	</div>
	
</body>
</html>


